<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paocu.xviss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XVISS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ElementosListActivity"
            android:label="@string/title_activity_elementos_list"
            android:theme="@style/Theme.XVISS.NoActionBar"></activity>
        <activity
            android:name=".activities.ui.login.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.XVISS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GraphicsActivity" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".activities.BaseActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BaseActivity" />
        </activity>
        <activity
            android:name=".CreateTravelActivity"
            android:parentActivityName=".activities.BaseActivity" />
        <activity android:name=".DetailsTypeActivity" />
        <activity android:name=".DetailsTripActivity" />
        <activity android:name=".TravelListActivity" />
        <activity android:name=".activities.ui.login.LoginActivity" />
        <activity android:name=".activities.ui.register.RegisterActivity" />
        <activity android:name=".QuestListActivity" />
        <activity android:name=".ComprasCategoriaActivity" />
        <activity android:name=".activities.ui.login.LoginActivity" />
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.XVISS.NoActionBar" />
    </application>

</manifest>